:root {
  --main-bg-color: #010101;
}

/* @font-face {
  font-family: "Poppins";
  src: url("https://fonts.googleapis.com/css2?family=Poppins:wght@300&display=swap")
} */
/* @import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300&display=swap'); */

* {
  /* margin: 0;
  padding: 0; */
  font-family: Poppins;
  
  box-sizing: border-box;
  letter-spacing: 1px;
  /* font-weight: 300; */
  color: #f2f5f7;
  /* max-width: 1080px; */
  max-width: 1600x;
}

html, body {
  margin: 0;
  padding: 0;
}

body {
  overflow-x: hidden;
}

button {
  cursor: pointer;

}

.active {
  border-radius: 10px;
  border: 2px solid skyblue;
}

/* .abc {
  display: flex;
  align-items: center;
  justify-content: space-between;
  max-width: 1600px;
} */

.logo {
  width: 50px;
  margin-left: 20px;
  transition: .4s;
}



.logo:hover {
  filter: drop-shadow(0 0px 10px rgb(184, 184, 255));
  transform: scale(0.9);

}

/* Hero and main content */

/* body > div {
  text-align: center;
  margin-top: 30px;
} */
nav {
  height: 4rem;
  width: 100vw;
  background-color: var(--main-bg-color);
  box-shadow: 0 3px 20px rgba(0, 0, 0, 0.2);
  display: flex;
  align-items: center;
  /* position: fixed; */
  z-index: 10;
}

/*Styling Links*/
.nav-links {
  display: flex;
  list-style: none;
  width: 88vw;
  justify-content: space-evenly;
  align-items: center;
  text-transform: uppercase;
  margin-left: 2rem;
  
}
.nav-links li a {
  text-decoration: none;
}
.nav-links li a:hover {
  color: #61dafb;
  text-decoration: underline;
  text-underline-offset: 0.2rem;
}

.nav-links li {
  position: relative;
}

.nav-links li a::before {
  content: "";
  display: block;
  height: 3px;
  width: 0%;
  background-color: #61dafb;
  position: absolute;
  transition: all ease-in-out 250ms;
  margin: 0 0 0 10%;
}

/*



*/

/*Styling Buttons*/
.login-button {
  background-color: transparent;
  border: 1.5px solid #f2f5f7;
  border-radius: 2em;
  padding: 0.6rem 0.8rem;
  margin-left: 2vw;
  font-size: 1rem;
  cursor: pointer;
}
.login-button:hover {
  color: #131418;
  background-color: #f2f5f7;
  border: 1.5px solid #f2f5f7;
  transition: all ease-in-out 350ms;
}
.join-button {
  color: #131418;
  background-color: #61dafb;
  border: 1.5px solid #61dafb;
  border-radius: 2em;
  padding: 0.6rem 0.8rem;
  font-size: 1rem;
  cursor: pointer;
  width: fit-content;
}
.join-button:hover {
  color: #f2f5f7;
  background-color: transparent;
  border: 1.5px solid #f2f5f7;
  transition: all ease-in-out 350ms;
}

/*Styling Hamburger Icon*/
.hamburger div {
  width: 30px;
  height: 3px;
  background: #f2f5f7;
  margin: 5px;
  transition: all 0.3s ease;
}
.hamburger {
  display: none;
}

.footer {
  display: flex;
  flex-flow: row wrap;
  padding: 30px 30px 20px 30px;
  color: #2f2f2f;
  background-color: var(--main-bg-color);
  border-top: 1px solid #e5e5e5;
  width: 100%;
}

.footer > * {
  flex: 1 100%;
}

.footer__addr {
  margin-right: 1.25em;
  margin-bottom: 2em;
}

.footer__addr p {
  color: gray;
  padding-left: 50%;
}

address a {
  padding: 20px;
  border: 2px solid white;
  color: beige;
}

address a:hover {
  cursor: pointer;
  background-color: white;
  color: black;
}
.footer__logo {
  font-family: "Pacifico", cursive;
  font-weight: 400;
  text-transform: lowercase;
  font-size: 2rem;
}

.footer__addr h2 {
  margin-top: 1.3em;
  font-size: 15px;
  font-weight: 400;
}

.nav__title {
  font-weight: 400;
  font-size: 15px;
}

.footer address {
  font-style: normal;
  color: #999;
}

.footer__btn {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 36px;
  max-width: max-content;
  background-color: rgb(33, 33, 33, 0.07);
  border-radius: 100px;
  color: #2f2f2f;
  line-height: 0;
  margin: 0.6em 0;
  font-size: 1rem;
  padding: 0 1.3em;
}

.footer ul {
  list-style: none;
  padding-left: 0;
}

.footer li {
  line-height: 2em;
}

.footer a {
  text-decoration: none;
}

.footer__nav {
  display: flex;
  flex-flow: row wrap;
}

.footer__nav > * {
  flex: 1 50%;
  margin-right: 1.25em;
}

.nav__ul a {
  color: #999;
}

.legal {
  display: flex;
  flex-wrap: wrap;
  color: #999;
}

@media screen and (max-width: 650px) {
  .footer {
    justify-content: center;
    flex-direction: column;
    /* width: 50%;
        margin: 0 auto; */
    /* background-color: red;; */
  }

  .legal .legal__links {
    margin-left: auto;
  }
}

@media screen and (min-width: 40.375em) {
  .footer__nav > * {
    flex: 1;
  }

  .footer__addr {
    flex: 1 0px;
  }

  .footer__nav {
    flex: 2 0px;
  }
}

/*Stying for small screens*/
@media screen and (max-width: 800px) {
  nav {
    position: relative;
    width: 100%;
    z-index: 3;
  }
  .hamburger {
    display: block;
    position: absolute;
    cursor: pointer;
    right: 5%;
    top: 50%;
    transform: translate(-5%, -50%);
    z-index: 2;
    transition: all 0.7s ease;
  }
  .nav-links {
    position: fixed;
    background: #131418;
    height: 100vh;
    width: 100%;
    flex-direction: column;
    clip-path: circle(50px at 90% -20%);
    -webkit-clip-path: circle(50px at 90% -10%);
    transition: all 1s ease-out;
    pointer-events: none;
   top:48px;
  }
  .nav-links.open {
    clip-path: circle(1000px at 70% -10%);
    -webkit-clip-path: circle(1000px at 90% -10%);
    pointer-events: all;
  }
  .nav-links li {
    opacity: 0;
  }
  .nav-links li:nth-child(1) {
    transition: all 0.5s ease 0.2s;
  }
  .nav-links li:nth-child(2) {
    transition: all 0.5s ease 0.4s;
  }
  .nav-links li:nth-child(3) {
    transition: all 0.5s ease 0.6s;
  }
  .nav-links li:nth-child(4) {
    transition: all 0.5s ease 0.7s;
  }
  .nav-links li:nth-child(5) {
    transition: all 0.5s ease 0.8s;
  }
  .nav-links li:nth-child(6) {
    transition: all 0.5s ease 0.9s;
    margin: 0;
  }
  .nav-links li:nth-child(7) {
    transition: all 0.5s ease 1s;
    margin: 0;
  }
  li.fade {
    opacity: 1;
  }
}
/*Animating Hamburger Icon on Click*/
.toggle .line1 {
  transform: rotate(-45deg) translate(-5px, 6px);
}
.toggle .line2 {
  transition: all 0.7s ease;
  width: 0;
}
.toggle .line3 {
  transform: rotate(45deg) translate(-5px, -6px);
}

/* hero section */

#services {
  background: var(--main-bg-color);
  margin-top: 0;
}

.hero--img {
  /* padding-right: 50px; */
  
}

.hero {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 5rem;
  background-color: #0e3843;
  color: rgb(8, 7, 7);
  padding: 5rem 2rem;
}

#about {
  gap: 0rem;
}

.hero--text {
  max-width: 550px;
}

.hero h2 {
  font-size: 2.4rem;
  font-weight: bold;
}

.hero p {
  font-size: 1.2rem;
  max-width: 600px;
  padding-top: 1rem;
}

.hero img {
  width: 100%;
  max-width: 800px;
  max-height: 300px;
  transition: .3s;
}

.hero img:hover {
  filter: drop-shadow(0 0 10px #31b0c6);
  transform: scale(0.9);
  cursor: pointer;
}

.hero button {
  text-transform: uppercase;
  background-color: #31b0c6;
  margin-top: 1.5rem;
  padding: 0.5rem;
  font-size: 1.3rem;
  border-radius: 10px;
  border: none;
  outline: none;
  transition: .4s;
}

.hero button:hover {
  background: transparent;
  border-color: white;
  border: 2px solid white;
}
/* services */

.wrapper {
  background-image: url(https://i.postimg.cc/dQZssk2d/1.jpg);
  -webkit-background-size: cover;
  background-size: cover;
  background-position: center center;
  width: 100vw;
  height: 100vh;
}
.wrapper h2 {
  text-transform: uppercase;
  font-family: poppins;
  font-weight: bold;
  text-align: center;
  font-size: 60px;
  color: #fff;
  margin: 0;
}
.single-service {
  position: relative;
  width: 31%;
  /* height: 320px; */
  background: #fff;
  box-sizing: border-box;
  padding: 20px 15px;
  transition: 0.5s;
  overflow: hidden;
  float: left;
  margin: 0 10px;
  text-align: center;
}
.line {
  width: 150px;
  height: 3px;
  background: #fff;
  margin: 0 auto 60px auto;
}
.single-service p {
  color: #262626;
  font-size: 14px;
}
.single-service h3 {
  font-size: 25px;
  text-transform: uppercase;
  font-family: poppins;
  letter-spacing: 1px;
  color: #262626;
}
.social {
  width: 60px;
  height: 60px;
  background: #262626;
  border-radius: 50%;
  margin: 5% auto;
}
.social i {
  font-size: 30px;
  padding: 15px;
  color: #fff;
}
.single-service:hover {
  box-shadow: 0 30px 35px rgba(0, 0, 0, 0.7);
}
.single-service span {
  position: absolute;
  top: 0;
  left: -110%;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.7);
  transition: 0.7s;
  transform: skewX(10deg);
}
.single-service:hover span {
  left: 110%;
}

@media (max-width: 1000px) {
  .wrapper {
    width: 100%;
    height: 100%;
  }
  .single-service {
    width: 95%;
    margin-bottom: 30px;
  }
  .wrapper h2 {
    font-size: 30px;
  }
}

.cards {
  display: flex;
  justify-content: space-between;
  padding: 0 2rem;
  flex-wrap: wrap;
}

.cards a{
  background-color: #31b0c6;
  border: none;
  padding: 0.5rem;
  border-radius: 5px;
  font-size: 1.2rem;
  text-decoration: none;

}

.cards p{
  margin: 2rem 0;
}

/* our team */

.wrapper-team{
  padding-top:2rem;
  height: 100vh;
  background-color: #010101;
  display: grid;
  justify-content:center;
  flex-wrap: wrap;
  height: 100%;
}

.wrapper-team h1 {
  font-size: 48px;
  margin-bottom: 25px;
  text-align: center;
}

.our_team {
  width: auto;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}

.our_team .team_member {
  width: 250px;
  margin: 5px;
  background: #31b0c6;
  padding: 20px 10px;
}

.our_team .team_member .member_img {
  background: #e9e5fa;
  max-width: 190px;
  width: 100%;
  height: 190px;
  margin: 0 auto;
  border-radius: 50%;
  padding: 5px;
  position: relative;
  cursor: pointer;
}

.our_team .team_member .member_img img {
  width: 100%;
  height: 100%;
  border-radius: 50%;
}

.our_team .team_member h3 {
  text-transform: uppercase;
  font-size: 18px;
  line-height: 18px;
  letter-spacing: 2px;
  margin: 15px 0 0px;
}

.our_team .team_member span {
  font-size: 10px;
}

.our_team .team_member p {
  margin-top: 20px;
  font-size: 14px;
  line-height: 20px;
}

.our_team .team_member .member_img .social_media {
  position: absolute;
  top: 5px;
  left: 5px;
  background: rgba(0, 0, 0, 0.65);
  width: 95%;
  height: 95%;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  transform: scale(0);
  transition: all 0.5s ease;
}

.our_team .team_member .member_img .social_media .item {
  margin: 0 10px;
}

.our_team .team_member .member_img .social_media .fab {
  color: #8c7ae6;
  font-size: 20px;
}

.our_team .team_member .member_img:hover .social_media {
  transform: scale(1);
}


/* Testimonial  */






/* responsive */
@media screen and (max-width: 1600px) {
  .hero{
    /* display:flex;
    justify-content: space-between; */
    
  }
}

@media screen and (max-width: 820px) {
  .hero{
    /* display:flex; */
    flex-direction: column;
    gap: 1.5rem;
    padding: 2rem 25px;
  }

  .hero--text {
    text-align: center;
  }

  .hero p {
    padding-top: 0;
    max-width: 350px;
  }
}